.example-form-field {
  width: 200px;
}

table {
  width: 100%;
}

.total-table{
  width: 40%;
}

.posClass{
  width: 75px;
}

.activityClass{
  width: 100px;
}

.itemClass{
  width: 100px;
}

.priceClass{
  width: 100px;
}

.quantityClass{
  width: 75px;
}

.actionClass{
  width: 150px;
}
button {
  background-color:coral ;
}
.label{
  color: rgb(0, 0, 0);

}
.activityClass-img{
  height: 40px;

}